# reCBZ.Archive defaults
[archive]
# General options
# ---------------------------------------------------------------------
# whether to overwrite the original archive. dangerous
overwrite = false
# try to skip files with errors
ignore = true
# force write even if there are errors
force = false
# level of logging: -1 = quiet. 0 = overlapping progress report. 1 = streaming
# progress report. 2 = verbose messages. >2 = everything
loglevel = 0
# whether to disable multiprocessing
noparallel = false
# max number of processes to spawn. 0 will use all available CPUs
processes = 0
# default format to save archives as
archiveformat = 'cbz'
# whether to further compress the zipfile after repacking
compresszip = false
# number of images to sample when comparing image formats
samplecount = 5
# dry run. archive won't be saved, even if overwrite is used
nowrite = false
# space separated list of formats to exclude from --compare
blacklistedfmts = ''

# Options which affect image quality and/or file size:
# ---------------------------------------------------------------------
# default format to convert images to. leave empty to preserve original
imageformat = ''
# compression quality for lossy images
quality = 80
# new image width / height. set to 0,0 to preserve original dimensions
size = [0,0]
# set to True to disable upscaling of images smaller than resolution
noupscale = false
# set to True to disable downscaling of images larger than resolution
nodownscale = false
# whether to convert images to grayscale
grayscale = false
